
    .login-card{
		// width:50vw;
		margin:auto;
		margin-top:13vh;
		opacity: 0.9;
        border-radius: 0px;
        background: #202124;
        color:white;
		p{
			margin-top:3rem;
			text-align: center;
			a{
				
			}
		}
	}
	 .login-header{
	 	text-align:center;
	 	margin-top:5rem !important;
	 	color:white;
	 // 	opacity:0.8;
		// background-color:black;
	 }

ion-content{
--background: #fff url('../../assets/imgs/virus2.jpg') no-repeat center center / cover;
}

.background-primary {
    --background: #202124;
    color:white;
}
