<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class = "background-photo">
  <h1 class = "login-header"  >Welcome to <span style = "color: #ea80fc">Cure-Rona</span>, an app that provides contact tracing</h1>
  <ion-card class = "login-card" >
    <p> don't have an account yet? <a style = "color:#ea80fc;" (click) = "goToRegister()"><u><b>register</b></u></a> now!</p>
    <ion-item class = "background-primary">
    <ion-label position = "floating">Email Address</ion-label>
    <ion-input type="text" [(ngModel)] = "email"></ion-input>
    </ion-item>
    <ion-item style = "margin-bottom:3rem;" class = "background-primary">
    <ion-label position = "floating" >Password</ion-label>
    <ion-input type="password" [(ngModel)] = "password"></ion-input>
    </ion-item>
    <div style = "text-align:center;margin-bottom:3rem;">
      <ion-button color = "secondary" (click) = "login()" class = ""> <span style = "color:black">login </span></ion-button>
    </div> 
  </ion-card>
  <ion-spinner name="lines"></ion-spinner>
</ion-content>
