<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card class = "card">
  <ion-card-header class ="card-header">
    <ion-card-subtitle >3.1 miles away  <span style ="float:right"> 20 minutes ago </span></ion-card-subtitle>
    <!-- <ion-card-title>Card Title</ion-card-title> -->
  </ion-card-header>
  <ion-card-content class = "card-content">
    A user in your current area has self reported the contract of coronavirus
    <span class = "delete-card-icon"><ion-icon name="close-outline"></ion-icon></span>
  </ion-card-content>
</ion-card>

<ion-card class = "card">
  <ion-card-header class ="card-header">
    <ion-card-subtitle >50.1 miles away  <span style ="float:right"> 40 minutes ago </span></ion-card-subtitle>
    <!-- <ion-card-title>Card Title</ion-card-title> -->
  </ion-card-header>
  <ion-card-content class = "card-content">
    A user in the area that you have been to within the last 2 weeks: "3643 Lancaster Ave" has self reported the contract of coronavirus
    <span class = "delete-card-icon"><ion-icon name="close-outline"></ion-icon></span>
  </ion-card-content>
</ion-card>
</ion-content>
